.required {
    color:red;
}

.character-form {
    border:1px solid black;
    width: 400px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: auto;
    margin: auto;
    
    
    

}

.invalid {
    border: 1px solid red;

}
.close-button {
  margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    text-align: center;

}

