.flexbox-container {
    display: flex;
    flex-direction: row;
}



.character-details{
    background-color: whitesmoke;
    border:3px solid rgb(2, 53, 56);
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding:10px;
    margin-bottom: 10px;
    text-align:bottom;
}

.character-image {
    width:200px;

}
.character-info-label {
    margin-right: 10px;
    flex-direction: column-reverse;
}