.App {
  text-align: center;
  position: absolute;
  z-index: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.body{
  background-color: black;
}

.nav-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: solid 1px black;
  height: 60px;
  
}

.buttonbacking {
  flex-direction: column;
  border-style: solid 1px black;
  height: 60px;
  color: #282c34;
  background-color:#282c34;
  pointer-events: stroke;
  
  }
  

.superhero-central {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: solid 1px black;  
  height: 60px;
  color: aliceblue;
  
}
.emptyspace{
height:20px;

}

.App-link {
  color: #61dafb;
}



.background-image{
  background-image: url(../src/feature_marvelVSDC.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 500px;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}